.footer {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 30px;
	color: var(--argentinian-blue);
	align-items: center;
	font-size: 16px;
	line-height: 20px;

	background: var(--primary);
	padding: 5px 30px;
}

.footer svg a:hover {
	cursor: pointer;
}

.span {
	display: block;
	line-height: 30px;
	align-items: center;
}

@media (max-width: 765px) {
	.footer {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 40px;
	
		font-size: 14px;
		line-height: 17px;
	}

}